anyio==4.14.1
certifi==2026.6.17
customtkinter==6.0.0
darkdetect==0.8.0
debugpy==1.8.21
et_xmlfile==2.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
openpyxl==3.1.5
packaging==26.2
pyaes==1.6.1
pyasn1==0.6.3
pyserial==3.5
python-telegram-bot==22.8
rsa==4.9.1
Telethon==1.43.2
